@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');


*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color: #003e29;
	--second-bg-color: #5f9473;
	--text-bg-color: #ffffff;
	--main-color: #5cb25d;
	--third-color: #AEE7B9;
}

html{
	font-size: 62.5%;
	overflow-x: hidden;
}

body{
	background: #E8F8E6;
	color: var(--text-bg-color);

}
section{
	min-height: 100vh;
	padding: 10rem 9% 2rem;
}
.header{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 15px 170px;
	background: #008264; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	transition: .3s;
}

.logo{ 
	font-size: 1.5rem;
	color: #ffffff;
	font-weight: 500;
}
.navbar{
	display: flex;
	list-style-type: none;
}
.navbar a { /*muni ya sa navbar*/
	font-size: 1.5rem;
	color: #ffffff;
	font-weight: 500;
	margin-left: 2.5rem;
	transition: .3s;
}

.navbar a:hover, /*muni ya sa navbar hover*/
.navbar a.active{/*muni ya sa navbar hover sa home*/
	color: var(--main-color);
}
/*#menu-icon{
	font-size: 2rem;
	cursor: pointer;
	display: none;
}*/




/*about me portion*/
.heading{
	font-size: 4rem;
	padding-bottom: 1rem;
	color: var(--main-color);
	text-align: center;
}
.heading span{/*about span*/
	text-align: center;
	padding-top: 10%;
	margin-bottom: 60px;
	font-weight: 600;
	position: relative;
	color: var(--bg-color);
}
.heading span::after{
	content: '';
	background: #54A88C;
	width: 100px;
	height: 3px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
}

.about .row-1{
	display: flex;
	flex-wrap: wrap;
	 column-gap: 1.5rem;
	padding-bottom: 2rem;
}
.about .row-1 .image{/*picture*/
	flex: 1 1 18rem;
}
.about .row-1 .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: 0.5rem solid var(--bg-color);
	border-radius: .2rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}	
.about .row-1 .content{
	flex: 1 1 50rem;
}
.about .row-1 .content h3{/*Mary eddythe name*/
	padding-top: 10px;
	color: var(--bg-color);
	font-size: 2.5rem;
	padding-bottom: 10px;
}
.about .row-1 .content p{ /*paragraph ni ya*/
	color: black;
	font-weight: 500;
	font-size: 1.5rem;
	padding: .19rem 0;
}
.about .row-1 .content .box-container{
	display: flex;
	flex-wrap: wrap;
	grid-gap: 1.5rem;
	padding: 0.5rem 0;
}
.about .row-1 .content .box-container .box{
	flex: 1 1 20rem;
}
.about .row-1 .content .box-container .box span{
	color: var(--bg-color);
	font-weight: 600;
}
.btn{ /* button ni nga download curri */
	display: inline-block;
	margin-top: 1rem;
	 padding: 10px 20px;
	background: var(--bg-color);
	color: #fff;
	cursor: pointer;
	border-radius: .4rem;
	font-size: 1.2rem;
	transition: background-color 0.3s, color 0.3s;
}
.btn:hover{
  background-color: #008264; /* New background color on hover */
  color:
}

/* EDUCATION */
/*more on bg purposes*/
.container{
	width: 100%;
	height: 100vh;
	padding: 0 8%;
	padding-bottom: 30px;
}
.container h1{
	text-align: center;
	padding-top: 10%;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 30px;
	position: relative;
	color: var(--bg-color);
}
.timeline{/* timeline */
	position: relative;
	max-width: 1200px
	margin: 100px auto;
}
.container-educ{
	padding: 3px 50px;
	position: relative;
	width: 50%;
	animation: movedown 1s linear forwards;
	opacity: 0;
}
@keyframes movedown{
	0%{
		opacity: 1;
		transform: translateY(-30px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}
.container-educ:nth-child(1){
	animation-delay: 0s;
}
.container-educ:nth-child(2){
	animation-delay: 1s;
}
.container-educ:nth-child(3){
	animation-delay: 2s;
}
.container-educ:nth-child(4){
	animation-delay: 3s;
}



.text-box{ /*textbox gd mismo sang education*/
	padding: 20px 30px;
	background: var(--bg-color);
	position: relative;
	border-radius: 6px;
	font-size: 15px;
}
.left-container{ /*left container ni ya*/
	left: 0; 
}
.right-container{ /*para mag right ang container*/
	left: 50%;
}
.container-educ img{ /*para ni ya sa logo schools*/
	position: absolute;
	width: 40px;
	border-radius: 50%;
	right: -20px;
	top: 32px;
	z-index: 10;
}
.right-container img{ /*para magkadto sa tunga ang logo*/
	left: -20px;
}
.timeline::after{
	content: '';
	position: absolute;
	width: 6px;
	height: 100%;
	background: var(--bg-color);
	top: 0;
	left: 50%;
	margin-left: -3px;
	z-index: -1;
	animation: moveline  6s linear forwards;
}
@keyframes moveline{
	0%{
		height: 0;
	}
	100%{
		height: 100%;
	}
}


.text-box h4{ /*muni ya ang schools*/
	font-weight: 600;
}
.text-box small{ /*year sang education*/
	display: inline-block;
	margin-bottom: 15px;
	font-size: 10px;
}
.text-box p{ /*year sang education*/
	font-size: 12px;
}
.left-container-arrow{/*left arrow*/
	height: 0;
	width: 0;
	position: absolute; 
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent; 
	border-bottom: 15px solid transparent; 
	border-left: 15px solid var(--bg-color); 
	right: -15px;
}
.right-container-arrow{/*right arrow*/
	height: 0;
	width: 0;
	position: absolute; 
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent; 
	border-bottom: 15px solid transparent; 
	border-right: 15px solid var(--bg-color); 
	left: -15px;
}
/* EDUCATION */





/*FLUID*/
@media (max-width: 1200px){
	html{
		font-size: 55%;
	}
}
@media (max-width: 991px){
	.header{
		padding: 2rem 4%;
	}

	section{
		padding: 10rem 4% 2rem;
	}
	.home {
		padding: 0 4% ;
	}
	/*.dropdown_menu{
		display: block;
	}*/
	.footer{
		padding: 2rem 4%;
	}
}
@media screen and (max-width: 600px){
	.timeline{
		margin: 50 auto;
	}
	.timeline::after{
		left: 31px;
	}
	.container-educ{
		width: 100%;
		padding-left: 80px;
		padding-right: 25px;
	}
	.text-box small{
		margin-bottom: 10px;
	}
	.right-container{
		left: 0;
	}
	.left-container img, .right-container img{
		left: 10px;
	}
	.left-container-arrow, .right-container-arrow{
		border-right: 15px solid var(--bg-color);
		border-left: 0;
		left: -15px;
	}
	.container{
		padding-top: 5%;
	}
}/*
@media (max-width: 768px){
	.navbar{
		position: absolute;
		top: 100%;
		left: -100%;
		width: 100%;
		padding: 1rem 4%;
		background: #003B1B;
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
		transition: .25s ease;
		transition-delay: .25s;
		z-index: 1;
	}
	.navbar a{
		font-size: 2rem;
		margin: 3rem 0;
		transform: translateX(-20rem);
		transition: .25s ease;
		transition-delay: 0s;
	}
	.navbar.active a{
		transform: translateX(0rem);
		transition-delay: .25s;
	}
	.navbar .active-nav{
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		border-top: .1rem solid rgba(0, 0, 0, .2);
		z-index: -1;
		transition: .25s ease;
		transition-delay: 0s;
	}
	.navbar.active .active-nav{
		left: 0;
		transition-delay: .25s;
	}
}*/

@media (max-width: 520px){
	html{
		font-size: 50%;
	}
	.home-content h1{
		 display: flex;
		 flex-direction: column;
	}
	.home-sci{
		width: 160px;
	}
	.home-sci a{
		width: 38px;
		height: 38px;
	}
	.container{
		padding-top: 10%;
	}
}
@media (max-width: 462px){
	.home-content h1{
		font-size: 5.2rem;
	}
	.content{
		padding-top: 30%;
	}
	.footer{
		flex-direction: column-reverse;
	}
	.footer p{
		margin-top: 2rem;
		text-align: center;
	}
	.container{
		padding-top: 40%;
	}
}
@media (max-width: 371px){
	.home{
		justify-content: center;
	}
	.home-content{
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
	.home-content h1{
		font-size: 5rem;
	}
	.container{
		padding-top: 10%;
	}
}